


  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Blank example to the boxed layout</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Layout</a></li>
        <li class="active">Boxed</li>
      </ol>
    </section>

    <section class="content">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Petzimo</h3>
          <div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button></div>
        </div>
        <div class="box-body">
          <p>
          GittiGidiyor Yeni Sipariş Adedi : 19 / Toplam Tutar : 2,170 TL
          </br></br>
          N11 Yeni Sipariş Adedi : 11 / Toplam Tutar : 1,240 TL
          </p>
        </div>
        <div class="box-footer">
          Petzimo Toplam Sipariş Adedi : 47 / Toplam Tutar : 4,750 TL
        </div>
        <!-- /.box-footer-->
      </div>

      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Piyasepet</h3>
          <div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button></div>
        </div>
        <div class="box-body">
          <p>
          GittiGidiyor Yeni Sipariş Adedi : 7 / Toplam Tutar : 770 TL
          </br></br>
          N11 Yeni Sipariş Adedi : 4 / Toplam Tutar : 940 TL
          </p>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Piyasepet Toplam Sipariş Adedi : 11 / Toplam Tutar : 2,750 TL
        </div>
        <!-- /.box-footer-->
      </div>
      <div class="box-footer">
        Genel Toplam Sipariş Adedi : 47 / Toplam Tutar : 4,750 TL
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
